* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.heading {
    width: 100%;
    height: 10vh;
    background-color: #2d6a4f;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bg {
    background-color: #52b788;
    width: 100%;
    height: 100vh;
}

.parent {
    width: 38%;
    height: 13vh;
    background-color: #40916c;
    border-radius: 8px;
    margin: auto auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#todo_input {
    width: 50%;
    height: 6vh;
    background-color: antiquewhite;
    outline: none;
    border-radius: 6px;
    background-color: #95d5b2;
    border: 1px solid #95d5b2;
    color: white;
    padding-left: 10px;
}

::placeholder {
    color: white;
}

#todo_btn {
    width: 15%;
    height: 6vh;
    border-radius: 6px;
    outline: none;
    background-color: #b7e4c7;
    border: 1px solid #b7e4c7;
    font-weight: bold;
    color: #1b4332;
    cursor: pointer;
}

.javaclass {
    text-align: center;
    margin-top: 10px;
    /* color: #52b788; */
    color: #d8f3dc;
}

.javaclass:hover {
    color: red;
    cursor: pointer;
}